*{
    margin: 0;
    padding: 0;
  }
  
  body{
    background-color: rgb(0, 12, 19);
    color: white;
    font-family: 'Poppins', sans-serif;
  }
  
  nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(2, 32, 39);
  }
  
  nav ul{
    display: flex;
    justify-content: center;
  
  }
  
  nav ul li{
    list-style: none;
    margin: 0 23px;
  }
  
  nav ul li a{
    text-decoration: none;
    color: white;
  }
  
  nav ul li a:hover{
    color: rgb(92, 69, 112);
    font-size: 1.01rem;
    color: #ff004f;
  }
  
  .left{
    font-size: 1.5rem;
  }
  
  .firstsection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 140px 0;
  }
  
  .firstsection > div{
   width: 30%;
  }
  
  .leftsection{
    font-size: 1.9rem;
  }
  
  .rightsection img{
  width: 80%;
  }
  
  .purple{
    color: rgb(157, 91, 218);
  }
  
  #element{
    color: rgb(157, 91, 218);
  }
  
  .secondsection{
    max-width: 80vw;
    margin: auto;
    height: 80vh;
  }
  
  main hr{
    border: 0;
    background: #9c97f1;
    height: 1.2px;
    margin: 40px 84px;
  }
  
  .secondsection h1{
    font-size: 1.9rem;
  }
  
  .textgrey{
    color: grey;
  }
  
  .box{
    background-color: white;
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
  }
  
  .vertical{
    height: 190px;
    width: 1px;
    background-color: white;
    margin: 0 100px;
  }
  
  .image-top{
    width: 200px;
    position: relative;
    top: 15px;
    left: -5px;
  }
  
  .verticaltitle{
    position: relative;
    top: 23px;
    width: 150px;
  }
  
  .verticaldesc{
    position: relative;
    top: 40px;
    color: white;
    width: 150px;
    font-size: 9px;
  }
  
  footer {
    background-color: rgb(2, 32, 39);
    padding: 2rem 20rem;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
  }
  
  .footer__row__1 h4{
    font-size: 1.7rem;
  }
  
  .footer__row__1 h5{
    font-size: 1rem;
  }
  
  article {
    --img-scale: 1.001;
    --title-color: black;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background: #222020;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
  }
  
  article a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
  }
  
  /* basic article elements styling */
  .article h2 {
    margin: 0 0 18px 0;
    font-family: "Bebas Neue", cursive;
    font-size: 1.9rem;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
  }
  
  figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
  }
  
  article img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
  }
  
  .article-body {
    padding: 24px;
  }
  
  article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #28666e;
  }
  
  article a:focus {
    outline: 1px dotted #28666e;
  }
  
  article a .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
  }
  
  /* using the has() relational pseudo selector to update our custom properties */
  article:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: #28666e;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  
  
  /************************ 
  Generic layout (demo looks)
  **************************/
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  .articles {
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
  }
  
  @media screen and (max-width: 960px) {
    article {
      container: card/inline-size;
    }
    .article-body p {
      display: none;
    }
  }
  
  @container card (min-width: 380px) {
    .article-wrapper {
      display: grid;
      grid-template-columns: 100px 1fr;
      gap: 16px;
    }
    .article-body {
      padding-left: 0;
    }
    figure {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    figure img {
      height: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }
  
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }